<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<title>Register</title>
<link href="../webjars/bootstrap/3.3.7/css/bootstrap.css"
	th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.css}"
	rel="stylesheet" />
<style>
label {
	color: gray;
	font-weight: normal;
}
</style>
<script type="text/javascript">
	function validate() {
		var pass1 = x = document.getElementById("pass1").value;
		var pass2 = x = document.getElementById("pass2").value;
		if (pass1 != pass2) {
			document.getElementById("pass_match").style.display = "block";
			return false;
		}
	}
	function hide() {
		document.getElementById("user_taken").style.display = "none";
	}
</script>
</head>
<body>
	<div style="margin: 5% 35% 0 35%">
		<div class="panel panel-primary">
			<div class="panel-heading" style="text-align: center">
				<h4>Register</h4>
			</div>
			<div class="panel-body">
				<label></label>
				<form action="#" th:action="@{/success}" th:object="${user}"
					onsubmit="return validate()" method="POST">
					<div class="form-group">
						<label>Username</label> <input type="text" class="form-control"
							th:field="*{username}" required="true" oninput="hide()" />
					</div>
					<div th:if="${message}" class="alert alert-danger" align="center"
						id="user_taken">
						<span th:text="${message}"></span>
					</div>
					<div class="form-group">
						<label>Password</label> <input type="password" id="pass1"
							required="true" class="form-control" th:field="*{password}" />
					</div>
					<div class="form-group">
						<label>Confirm password</label> <input type="password" id="pass2"
							required="true" class="form-control" />
					</div>
					<div class="alert alert-danger" align="center" id="pass_match"
						style="display: none">
						<span>Confirm password does not match the password</span>
					</div>
					<div class="form-group">
						<label>Full name</label> <input type="text" class="form-control"
							required="true" th:field="*{fullname}" />
					</div>
					<div class="form-group">
						<label>Mobile number</label> <input type="number" required="true"
							class="form-control" th:field="*{mobile}" />
					</div>
					<label></label>
					<div class="form-group" align="center">
						<button type="submit" class="btn btn-primary"
							style="width: 33%; margin-right: 10px">OK</button>
						<button onclick="window.location.href='/'" class="btn btn-default"
							style="width: 33%">Cancel</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>